<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>G-EDMOND - PORTFOLIO</title>
  {{ style('styles/style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    
  </section>
</body>
</html>
